*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     
h1{
    font-family: "Roboto",sans-serif;
    position: relative;
    left: 12vh;
    bottom: -3vh;

}
header{
    display: flex;
    justify-content: space-between;
    border:none;
    height: 12vh;
    background-color:white;
    width: 100%;
    position: fixed;
    z-index: 10;
}
nav{
    border: none;
    width: 35vw;
    
 
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    bottom: -4vh;
    
  
    
   
   
}
li{
    font-family: "Roboto",sans-serif;
    color: #707070;
    font-size: 15px;
    transition: calc(2s);
    
    
    
    
    
}
li:hover{
    color:black ;
    transform: scale(130%);
    font-weight: 800;
    font-size: 17px;
    
    
}
.sectionimg{
    border:solid;
    height: 80vh;
    background-image: url("./img/laranja.png");
    background-size: 100%;
}

h2{
   position: relative;
   bottom: -46vh;
   left: 12vh;
   font-size: 45px;
   font-family: "Roboto",sans-serif;
   color: white;
}
p{
    position: relative;
    bottom: -55vh;
    left: 13vh;
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    color: white;
    width:17vw ;
    transition: calc(2s);

}
p:hover{
 
   transform: scale(110%);
    text-decoration:  underline;
    
}

main{
    height: 50vh;
    position: relative;
    left: 50px;
    bottom: -20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
img{
    width: 19vw;
    transition: calc(2s);
    
}

img:hover{
    transform: scale(110%);
   


}
